input-placeholder {
	color: lightgrey;
}

form p {
	padding: 15px 0 0 0 ;
}

input {
	width: 100%;
	padding: 3px;
	margin-right: 15px;
}

input {
	font-size: 14px;

}

form {	
	margin-right: 15px;
}

#messageBox {
	height: 100px
}