#portfolioPhoto1 { 
  background-image: url('../../assets/images/portfolio-1.jpg');
}

#portfolioPhoto2 { 
  background-image: url('../../assets/images/portfolio-2.jpg');
}

#portfolioPhoto3 { 
  background-image: url('../../assets/images/portfolio-3.jpg');
}

#portfolioPhoto4 { 
  background-image: url('../../assets/images/portfolio-4.jpg');
}

#portfolioPhoto5 { 
  background-image: url('../../assets/images/portfolio-5.jpg');
}

.portfolio {
  margin: 12px;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  height: 200px;
 }


h3 {
  margin: 125px 0 40px 0;
  background-color: #4aaaa5;
  padding: 10px 50px;
  color: #fff;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-family: 'Georgia', Times, 'Times New Roman', serif;

}

footer {
  position: relative;
  min-width: 960px;
}