body {
	width: 960px;
}

h1 {
	background-color: #4aaaa5;
	display: inline;
	color: white;
	margin: 0;
	padding: 15px;
	font-size: 60px;
}

h1, h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
	color: #4aaaa5;
}

p, a {
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.top {
	margin-bottom: 20px;
	padding-bottom: 0 0 100px 0;
	background-color: #fff;
	border-bottom: #ccc 1px solid;
}

.main {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.connectImages {
	display: flex;
	flex-direction: row;
}

.mainBody, .connect {
	background-color: #fff;
	border: lightgrey 1px solid;
	padding: 40px 20px;
}

.mainBody {
	width: 650px;
	margin: 30px 15px 30px 30px; 

}

.connect {
	width: 270px;
	margin: 30px 15px 30px 30px; 

}


h2 {
	color: #2F4F4F;
	font-size: 24px;
}


nav {
	float: right;
	margin: 15px;
}

nav a {
	margin: 5px;
	padding-right: 15px;
	text-decoration: none;
	border-right: #ccc 1px solid;
}

nav a:hover {
	text-decoration: underline;
}

img {
	float: left;
	margin-right: 10px;
}

img.logo {
	width: 75px;
	height: 75px;
}




